body{
	background: #ff00d0;
}

h1{
	text-decoration: underline;
	font-size: 48;
	text-align: center;
	color: #26ff00;
	font-style: italic;
	font-weight: bold;
	-webkit-text-stroke: 2px black;
}
p{
	color: #26ff00;
	font-size: 36;
	text-align: center;
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.ad {
	float:right;
	width: 12%;
	height: 70%;
	margin-right: 2%;
	overflow:hidden;
	outline: black solid;
	text-align: center;
	max-width: 12%;
	max-height: 70%;
}
.robot {
	margin: 3%;
	background-color: purple;

}