body{
	background: magenta;
}

h1{
	text-decoration: underline;
	font-size: 300%;
	text-align: center;
	color: lawngreen;
	font-style: italic;
	font-weight: bold;
	-webkit-text-stroke: 2px black;
}
p{
	color: lawngreen;
	font-size: 200%;
	text-align: center;
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
	margin: auto;
}

.pnav{
	color: lawngreen;
	font-size: 250%;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	vertical-align: middle;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.ad {
	float:right;
	width: 12%;
	height: 70%;
	margin-right: 2%;
	overflow:hidden;
	outline: black solid;
	text-align: center;
	max-width: 12%;
	max-height: 70%;
}
.robot {
	margin: 3%;
	background-color: purple;
	width: 82%;
	height: 72%;
	text-align: center;
}

.nav {
	margin: 1%;
	background-color: green;
	text-align: center;
	width: 80%;
	height: 15%;
	max-height: 15%;
	max-width: 80%;
	overflow:hidden;
	position: relative;
}