head,body{
	width:100%;
	height:100%;
}

body{
	background: magenta;
}

h1{
	text-decoration: underline;
	font-size: 3vw;
	text-align: center;
	color: lime;
	font-style: italic;
	font-weight: bold;
	-webkit-text-stroke: 2px black;
}
p{
	color: lime;
	font-size: 3vw;
	text-align: center;
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
	margin: 3vmax;
}

.pnav{
	color: lime;
	font-size: 3.5vw;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	vertical-align: middle;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.ad {
	float:right;
	width: 12vw;
	height: 70vh;
	margin-right: 2vw;
	overflow:hidden;
	outline: black solid;
	text-align: center;
	max-width: 12vw;
	max-height: 70vh;
}
.robot {
	margin: 3vmax;
	background-color: purple;
	width: 80vw;
	height: 75vh;
	text-align: center;
}

.nav {
	margin: auto;
	margin-top: 1vh;
	margin-bottom: 1vh;
	background-color: green;
	text-align: center;
	width: 80vw;
	height: 15vh;
	max-height: 15vw;
	max-width: 80vw;
	overflow:hidden;
	position: relative;
}

.hitcounter {
	background: linear-gradient(dimgrey, black);
	color: white;
	width: 13vw;
	height: 10vh;
	text-align: center;
	margin: auto;
	margin-top: 5vh;
}

.hittext {
	border-right: 1px solid white;
	border-left: 1px solid white;
	font-size: 4.37vw;
}